@import "./styles/transition.scss";

html {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--el-bg-color);
}

.dark {
  background-color: var(--el-bg-color);
}

body {
  height: var(--body-height)
}

#app {
  height: 100%;
}

.bg-default {
  background-color: #f5f7fa; /* 或者其他你想要的颜色 */
}


